@font-face {
  font-family: 'proximaNovaBlack';
  src: url("../fonts/ProximaNova-Black.otf") format("opentype");
}

@font-face {
  font-family: 'proximaNovaExtraBold';
  src: url("../fonts/ProximaNova-extraBold.otf") format("opentype");
}

@font-face {
  font-family: 'proximaNovaBold';
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'proximaNovaLight';
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}

@font-face {
  font-family: 'proximaNovaLightCon';
  src: url("../fonts/ProximaNovaCond-Light.otf") format("opentype");
}

@font-face {
  font-family: 'proximaNovaRegularCon';
  src: url("../fonts/ProximaNovaCond-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'proximaNovaRegular';
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'proximaNovaSemiBold';
  src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkBold';
  src: url("../fonts/LEMONMILK-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkBoldItalic';
  src: url("../fonts/LEMONMILK-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkLight';
  src: url("../fonts/LEMONMILK-Light.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkLightItalic';
  src: url("../fonts/LEMONMILK-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkMedium';
  src: url("../fonts/LEMONMILK-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkMediumItalic';
  src: url("../fonts/LEMONMILK-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkRegular';
  src: url("../fonts/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'lemonMilkRegularItalic';
  src: url("../fonts/LEMONMILK-RegularItalic.otf") format("opentype");
}
