/** Colors */
$foundation-palette: (
  primary: #343642,
  secondary: #feb24f,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

//Breakpoints
$screen-sm-max: 720px;
$screen-md-min: 1024px;
$screen-lg-min: 1280px;

//Mixins

//Media Queries
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-sm-max}) and (max-width: #{$screen-md-min}) {
    @content;
  }
}
